<h1 class="title-main">Susy: Web Layout&nbsp;Toolkit</h1>

<div class="title-sub"><p>Your design, our&nbsp;math</p></div>

<h1>Pushing, Pulling, and Padding</h1>

<div class="container">
  <div data-span='4' data-push='2'>
    <code>
      <span>span 4</span>
      <span>push 2 wide</span>
    </code>
  </div>
</div>

<div class="container">
  <div data-span='2'>
    <code>
      <span>span 2</span>
    </code>
  </div>

  <div data-span='4' data-pull='1'>
    <code>
      <span>span 4</span>
      <span>pull 1 wide</span>
    </code>
  </div>
</div>

<div class="container">
  <div data-span='4' data-pad='1'>
    <code>
      <span>span 4</span>
      <span>pad 1 wide</span>
    </code>
  </div>
</div>

{{outlet}}
